python/Prueba_juegos_ignorar/juego.py
python/Prueba_juegos_ignorar/pruebajuego.py
python/Prueba_juegos_ignorar/tuto.py
python/src/__pycache__/personaje.cpython-312.pyc
python/src/__pycache__/bloque.cpython-312.pyc
python/src/__pycache__/config.cpython-312.pyc
python/Prueba_juegos_ignorar/menu.py
python/src/__pycache__/botones.cpython-312.pyc
python/src/__pycache__/niveles.cpython-312.pyc
.vscode/settings.json
