@keyframes salir-izquierda {
    from{
        translate: -100% 0;
        opacity: 0;
    }
    to{
        translate: 0 0;
        opacity: 1;
    }
}

@keyframes salir-derecha {
    from{
        translate: 100% 0;
        opacity: 0;
    }
    to{
        translate: 0 0;
        opacity: 1;
    }
}

@keyframes desde-arriba {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to{
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes spin {
    from{
        transform: rotate(0turn);
        opacity: 0;
    }
    to{
        transform: rotate(1turn);
        opacity: 1;
    }
}

@keyframes giro {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(30deg) translateX(-5%);
    }
}
