html, body {
    width: 100%;
    overflow-x: hidden;
}

.pagina {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenido {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 80px;
    box-sizing: border-box;
}

.columna {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

body {
    display: flex;
    background-color: lightblue;
}


/*

@keyframes drop-in {
    from {
        transform:translateY(-100%);
        opacity: 1;
    }
    to {
        transform:translateY(var(--drop-in-offset));
        opacity: 1;
    }
}



.caja {
    height: 150px;
    width: 200px;
    background: slateblue;
    padding: 20px;
    display: grid;
    place-content: center;
    color: white;
    text-align: center;
    animation: drop-in linear;
}


.caja.una {
    cursor: pointer;
    --drop-in-offset: 0%;
    animation-duration: 200ms;
    animation-fill-mode:forwards ;
}

.caja.dos {
    --drop-in-offset: 25%;
    animation-duration: 500ms;
    animation-fill-mode:forwards ;
}

.caja.tres {
    --drop-in-offset: 50%;
    animation-duration: 1000ms;
    animation-fill-mode:forwards ;
}

.caja.cuatro {
    --drop-in-offset: 75%;
    animation-duration: 1500ms;
    animation-fill-mode:forwards ;
}

.caja.cinco {
    --drop-in-offset: 100%;
    animation-duration: 2000ms;
    animation-fill-mode:forwards ;
}

*/