@keyframes salir-izquierda {
    from{
        translate: -100% 0;
        opacity: 0;
    }
    to{
        translate: 0 0;
        opacity: 1;
    }
}

@keyframes salir-derecha {
    from{
        translate: 100% 0;
        opacity: 0;
    }
    to{
        translate: 0 0;
        opacity: 1;
    }
}

@keyframes desde-arriba {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to{
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes spin {
    from{
        transform: rotate(0turn);
        opacity: 0;
    }
    to{
        transform: rotate(1turn);
        opacity: 1;
    }
}

html, body {
    width: 100%;
    overflow-x: hidden;
}

.pagina {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenido {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 80px;
    box-sizing: border-box;
}

.columna {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.caja {
    background-color: whitesmoke;
    cursor: pointer;
    width: 200px;
    height: 80px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: salir-de-lado 1000ms ease;
    transform: scale(1);
    transition: transform 300ms ease-out;
}

.caja:hover{
    transform: scale(1.5);
}

.caja.un {
    animation: salir-izquierda 1000ms forwards;
}

.caja.un:hover .texto {
    opacity: 0;
}

.caja.un::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('/Reto-3-Recu/resources/img/Logo.svg');
    background-size: contain;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.caja.un:hover::after {
    opacity: 1;
}

.caja.do {
    animation: salir-izquierda 1000ms forwards;
    animation-delay: 2000ms;
    animation-fill-mode: both;
}

.caja.tre{
    animation: salir-derecha 1000ms forwards;
    animation-delay: 1000ms;
    animation-fill-mode: both;
}

.caja.cua{
    animation: salir-derecha 1000ms forwards;
    animation-delay: 3000ms;
    animation-fill-mode: both;
}

.ciruculo {
    width: 150px;
    height: 150px;
    border: 2px solid black;
    border-radius: 50%;
}

.spinner {
    width: 350px;
    height: 350px;
    animation: spin 2000ms;
    animation-delay: 5000ms;
    animation-fill-mode: both;
}

.titulo {
    animation: desde-arriba 1000ms forwards;
    animation-delay: 4000ms;
    animation-fill-mode: both;
}

body {
    display: flex;
    background-color: lightblue;
}


/*

@keyframes drop-in {
    from {
        transform:translateY(-100%);
        opacity: 1;
    }
    to {
        transform:translateY(var(--drop-in-offset));
        opacity: 1;
    }
}



.caja {
    height: 150px;
    width: 200px;
    background: slateblue;
    padding: 20px;
    display: grid;
    place-content: center;
    color: white;
    text-align: center;
    animation: drop-in linear;
}


.caja.una {
    cursor: pointer;
    --drop-in-offset: 0%;
    animation-duration: 200ms;
    animation-fill-mode:forwards ;
}

.caja.dos {
    --drop-in-offset: 25%;
    animation-duration: 500ms;
    animation-fill-mode:forwards ;
}

.caja.tres {
    --drop-in-offset: 50%;
    animation-duration: 1000ms;
    animation-fill-mode:forwards ;
}

.caja.cuatro {
    --drop-in-offset: 75%;
    animation-duration: 1500ms;
    animation-fill-mode:forwards ;
}

.caja.cinco {
    --drop-in-offset: 100%;
    animation-duration: 2000ms;
    animation-fill-mode:forwards ;
}

*/